* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: rgb(29, 29, 29);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1165px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  color: white;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
}

ul li,
a {
  color: white;
}

ul {
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 143.02%;
  cursor: default;
}

.title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
}

@media (max-width: 468px) {
  .title {
    font-size: 30px;
  }
}
.header {
  background: #000;
  padding: 50px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  display: block;
}
.header__navbar {
  display: flex;
  width: 431px;
  height: 50px;
  justify-content: space-around;
}
.header__list {
  display: flex;
  gap: 41px;
}
.header__contact {
  display: block;
  border: 2px solid #fff;
  padding: 14px 55px;
  transition: all ease 0.4s;
}
.header__contact:hover {
  color: #000;
  background: #fff;
}
.header__burger {
  display: none;
}
@media (max-width: 768px), (max-width: 468px) {
  .header body.lock {
    overflow: hidden;
  }
  .header__navbar {
    display: block;
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 15px;
    padding-top: 90px;
    transition: all 0.4s ease;
  }
  .header__navbar.active {
    right: 0;
  }
  .header__list {
    display: block;
    position: relative;
    z-index: 10;
    text-align: center;
  }
  .header__list li {
    position: relative;
    margin-bottom: 35px;
    font-size: 35px;
  }
  .header__list li:hover {
    text-decoration: underline;
  }
  .header__list li a {
    display: inline-block;
    position: relative;
  }
  .header__list li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #e3b748;
    transition: all ease 0.4s;
    transform: scale(0);
  }
  .header__list li :hover a::after {
    transform: scale(1);
  }
  .header__contact {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    height: 20px;
    width: 30px;
  }
  .header__burger span {
    position: absolute;
    display: block;
    border-radius: 20px;
    height: 2px;
    width: 100%;
    background: #fff;
    left: 0;
    top: 9px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
.main {
  max-width: 100%;
}

.hero {
  background: #000;
  height: 800px;
}

.hero__content {
  display: flex;
}

.hero__title {
  max-width: 571px;
  max-height: 194px;
  font-family: "Inter";
  font-style: normal;
  margin-top: 161px;
  font-weight: 500;
  font-size: 66px;
  line-height: 147.52%;
}

.hero__subtitle {
  width: 560px;
  height: 99px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 162.52%;
  opacity: 0.3;
  margin: 36px 0px;
}

.hero__search {
  display: flex;
  width: 400px;
  border: 1px solid #000;
  border-radius: 45px;
  background: #2e2e2e;
  margin: 36px 0px 220px;
}

.hero__search_input {
  font-size: 16px;
  color: #e3b748;
  opacity: 50%;
  border: none;
  width: 200px;
  height: 74px;
  vertical-align: middle;
  outline: none;
  background: #2e2e2e;
  overflow: hidden;
  border-radius: 45px;
}

.hero__search_vektor {
  margin: 28px 9px 8px 28px;
  opacity: 0.3;
}

.hero__search_button {
  display: block;
  border-radius: 43px;
  width: 137px;
  height: 62px;
  border: none;
  background: #e3b748;
  margin: 6px 6px 0px 0px;
  cursor: pointer;
}

.hero__button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 162.52%;
  color: #000;
}

.hero__picture {
  position: absolute;
  margin: 83px 200px 0px 665px;
  width: 467.71px;
  max-height: 530px;
  background: #e3b748;
  border-radius: 10%;
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.hero__photo {
  width: 463.51px;
  height: 509.91px;
}

.hero__picture:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .hero__picture {
    display: none;
  }
  .hero__title {
    width: 500px;
    font-size: 45px;
  }
  .hero__subtitle {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 550px;
  }
  .hero__text {
    height: 550px;
  }
  .hero__picture {
    display: none;
  }
  .hero__title {
    text-align: center;
    width: 380px;
    font-size: 40px;
    margin-top: 20px;
  }
  .hero__subtitle {
    height: 190px;
    margin: 50px 0px 0px 0px;
    width: 95%;
    font-size: 20px;
    text-align: justify;
  }
  .hero__search {
    margin-top: 60px;
    width: 90%;
  }
}
.info {
  background: #1d1d1d;
}
.info__content {
  display: flex;
  width: 1132px;
  height: 548px;
}
.info__text {
  display: flex;
  margin-top: 172px;
}
.info__text_item {
  font-size: 54px;
  line-height: 161.52%;
  width: 387px;
  height: 174px;
}
.info__line {
  margin: 106px 87px 0px 83px;
  width: 206px;
  height: 0px;
  border: 1px solid #6a6a6a;
  transform: rotate(90deg);
}
.info__title {
  font-size: 32px;
  line-height: 162.52%;
  width: 249px;
  height: 52px;
  margin-bottom: 16px;
}
.info__subtitle {
  line-height: 162.52%;
  color: #ffffff;
  opacity: 0.3;
  width: 475px;
  height: 87px;
}
@media (max-width: 768px) {
  .info .info__content {
    max-width: 100%;
    padding: 0 16px;
    height: 500px;
  }
  .info .info__text {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .info .info__text_content {
    margin-left: 0;
    margin-top: 32px;
    width: 75%;
  }
  .info .info__line {
    width: 400px;
    margin: 10px auto;
    transform: rotate(0deg);
  }
  .info .info__title {
    line-height: 162.52%;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  .info .info__subtitle {
    width: 100%;
    height: auto;
    text-align: justify;
  }
}
@media (max-width: 480px) {
  .info .info__content {
    max-width: 100%;
    padding: 0 16px;
    height: 500px;
  }
  .info .info__text_item {
    width: 350px;
    font-size: 35px;
    height: -moz-max-content;
    height: max-content;
  }
  .info .info__line {
    width: 280px;
    margin-top: 20px;
  }
}

.achivement {
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.achivement__container {
  width: 100%;
  max-width: 1139px;
  height: 730px;
}
.achivement h1 {
  margin: 0 0 97px 0;
  color: #fff;
}
.achivement__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achivement__cards {
  display: flex;
  width: 100%;
  max-width: 950px;
  justify-content: space-around;
  gap: 1.875rem;
}
.achivement__card {
  width: 22.4375rem;
  height: 23.5625rem;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
}
.achivement__card-back {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 135px;
  background: #fff;
  border-radius: 50%;
}
.achivement__card-title,
.achivement .card__title {
  margin: 28px 0;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.achivement__card-text,
.achivement .card__text {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 162.52%;
  width: 293px;
  height: 69px;
  opacity: 0.3;
}
.achivement__card-button {
  width: 121px;
  height: 43px;
  background: #e3b748;
  border-radius: 23.5px;
  border: 0;
  color: black;
  margin-top: 28px;
  cursor: pointer;
}
.achivement__card:hover {
  background: #2f2f2f;
}
@media (max-width: 768px) {
  .achivement {
    height: 1350px;
  }
  .achivement h1 {
    margin-bottom: 30px;
  }
  .achivement .cards {
    display: block;
  }
  .achivement .achivement__card {
    margin: 20px auto;
  }
}
.pictures {
  background: #1d1d1d;
  height: 1414px;
}
.pictures h1 {
  margin: 0px 0px 97px 0px;
}
.pictures__content_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.pictures__content_grid-item1 {
  grid-area: 1/1/2/3;
}
.pictures__content_grid-item2 {
  grid-area: 1/3/2/4;
}
.pictures__content_grid-item3 {
  grid-area: 2/1/3/2;
}
.pictures__content_grid-item4 {
  grid-area: 2/2/3/4;
}
.pictures__content_grid-item5 {
  grid-area: 3/1/4/3;
}
.pictures__content_grid-item6 {
  grid-area: 3/3/4/4;
}
.pictures .photos {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.pictures .items {
  position: relative;
}
.pictures .item__text {
  position: absolute;
  bottom: 2.5625rem;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.pictures .item__text::after {
  background-color: #fff;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.pictures .item__text:hover:after,
.pictures .item__text:focus:after {
  width: 100%;
}
@media (max-width: 468px) {
  .pictures {
    height: 550px;
  }
  .pictures h1 {
    margin-bottom: 30px;
  }
  .pictures .item__text {
    bottom: 1px;
    font-size: 12px;
  }
}

.slider {
  background: #1d1d1d;
}
.slider__title_text {
  color: #eaeaea;
  width: 374px;
  height: 154px;
}
.slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 912px;
}
.slider__title {
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-bottom: 6.5rem;
}
.slider__button {
  width: 5.625rem;
  height: 5.625rem;
  font-size: 24px;
  background: #eaeaea;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.slider .button__yellow {
  margin-left: 1.125rem;
  background: #e3b748;
}
.slider__container_item {
  width: 1000px;
  display: flex;
  overflow: hidden;
}
.slider__slide {
  width: 100%;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.875rem;
  padding: 20px;
  background: #1d1d1d;
  flex: 0 0 310px;
  margin: 0 10px;
}
.slider .slide img {
  width: 100px;
  height: auto;
}
.slider__content {
  color: #eaeaea;
}
.slider__content_subtitle {
  font-size: 14px;
  opacity: 0.3;
}
.slider__slide:hover {
  background: #2f2f2f;
}
@media (max-width: 468px) {
  .slider {
    display: none;
  }
}

.team h1 {
  margin: 0px 0px 120px 0px;
}
.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 612px;
}
.team__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 100px;
}
.team__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 244px;
  height: 100px;
  margin: 10px;
  transition: transform 0.3s;
}
.team__card img {
  margin-left: 10px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-right: 10px;
}
.team__card_text {
  text-align: left;
  cursor: default;
}
.team__card_nickname {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  margin-top: 9px;
}
.team__card_subtitle {
  color: #888;
  font-size: 14px;
  line-height: 24px;
  margin-top: 6px;
}
.team__card:hover {
  transform: scale(1.1);
  background: #e3b748;
  border-radius: 14px;
}
@media (max-width: 468px) {
  .team {
    height: 900px;
  }
  .team h1 {
    margin-bottom: 50px;
  }
  .team .team__row {
    display: flex;
    gap: 0px;
    margin: 0 auto;
  }
}

.faq__container {
  height: 52.75rem;
  display: flex;
  justify-content: space-between;
}
.faq__container_item {
  display: flex;
  flex-direction: row;
}
.faq__text {
  flex: 1;
  width: 450px;
}
.faq h1 {
  width: 106px;
  height: 75px;
  margin: 0;
  font-size: 54px;
  line-height: 138.02%;
  margin-bottom: 14px;
}
.faq__subtitle {
  width: 400px;
  height: 58px;
  opacity: 0.3;
}
.faq__report {
  flex: 1;
}
.faq h2 {
  margin-top: 89px;
  font-size: 24px;
  line-height: 24px;
}
.faq__report_subtitle {
  width: 400px;
  opacity: 0.3;
}
.faq__report_line {
  width: 539px;
  height: 0px;
  background: #d9d9d9;
  opacity: 0.05;
  border: 2px solid #ffffff;
  margin: 39px 0px;
}
.faq__report_question {
  width: 539px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq h3 {
  font-size: 24px;
  line-height: 24px;
}
.faq__report_button {
  border-radius: 50%;
  background: #e3b748;
  border: 0;
  height: 20px;
  transition: transform 0.3s ease;
}
.faq .faq__report_button.active {
  transform: rotate(45deg);
}
@media (max-width: 468px) {
  .faq .faq__container {
    height: 500px;
  }
  .faq .faq__text {
    display: none;
  }
  .faq h2 {
    align-items: center;
    text-align: center;
    width: 300px;
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 0;
    line-height: 122.52%;
  }
  .faq .faq__report_subtitle {
    display: none;
  }
  .faq__report_line {
    width: 380px;
    margin: 10px 0px;
  }
  .faq__report_question {
    display: flex;
    width: 380px;
  }
}

.newsLetters {
  height: 37.375rem;
}
.newsLetters__container {
  width: 77.8125rem;
  height: 22.25rem;
  background: rgba(71, 71, 71, 0.5);
  font-family: "Helvetica Now Display";
  padding-top: 10px;
}
.newsLetters h3 {
  text-align: center;
  font-size: 55px;
  line-height: 137%;
}
.newsLetters__content_item {
  text-align: center;
}
.newsLetters__imput {
  font-family: "Helvetica Now Display";
  font-size: 14px;
  line-height: 137%;
  width: 276px;
  height: 53px;
  background: #e4e4e4;
  border: 0;
  padding: 9px;
  outline: 0;
}
.newsLetters .imput_first {
  border-radius: 8px 0px 0px 8px;
}
.newsLetters__buttons {
  font-family: "Helvetica Now Display";
  width: 116px;
  height: 53px;
  border: 0;
  background: #e3b748;
  border-radius: 0px 8px 8px 0px;
}
@media (max-width: 468px) {
  .newsLetters {
    height: 400px;
  }
  .newsLetters__container {
    width: 300px;
    margin: 0 auto;
  }
  .newsLetters__container h3 {
    font-size: 30px;
  }
  .newsLetters__content_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .newsLetters .imput_first {
    border-radius: 8px;
  }
  .newsLetters__imput {
    border-radius: 8px;
  }
  .newsLetters__buttons {
    border-radius: 8px;
  }
}/*# sourceMappingURL=style.css.map */