.header {
  background: #000;
  padding: 50px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    & img {
      display: block;
    }
  }
  &__navbar {
    display: flex;
    width: 431px;
    height: 50px;
    justify-content: space-around;
  }
  &__list {
  }
  &__list_item {
  }
  &__list_icon {
    display: flex;
    gap: 1.4375rem;
  }
  &__list-icon{
  }
  &__contact {
    display: block;
    border: 2px solid #fff;
    padding: 14px 55px;
    transition: all ease 0.4s;
    &:hover {
      color: #000;
      background: #fff;
    }
  }
  &__footer_text {
    display: flex;
    justify-content: center;
  }
  h5{
    margin-left: 25px;
    margin-top: 6.5rem;
  }
}
@media (max-width: 767px) {
  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__navbar {
    flex-direction: column;
    margin-top: 20px;
  }

  .header__list {
    margin-bottom: 10px;
  }
}
