.header {
  background: #000;
  padding: 50px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    & img {
      display: block;
    }
  }
  &__navbar {
    display: flex;
    width: 431px;
    height: 50px;
    justify-content: space-around;
  }
  &__list {
  }
  &__list-item {
  }
  &__contact {
    display: block;
    border: 2px solid #fff;
    padding: 5px;
  }
}
