.main {
  max-width: 100%;
  background-color: #000;
  .hero {
    &__content {
      display: flex;
    }
    &__text {
    }
    &__title {
      max-width: 571px;
      max-height: 194px;
      font-family: "Inter";
      font-style: normal;
      margin-top: 161px;
      font-weight: 500;
      font-size: 66px;
      line-height: 147.52%;
    }
    &__subtitle {
      width: 560px;
      height: 99px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 162.52%;
      opacity: 0.3;
      margin: 36px 0px;
    }

    &__search {
      display: flex;
      width: 400px; /* Ширина поля с кнопкой */
      border: 1px solid #000; /* Параметры рамки */
      border-radius: 45px;
      background: #2e2e2e;
      margin: 36px 0px 220px;
      overflow: hidden;
    }

    &__search_input {
      border: none;
      width: 200px;
      height: 74px;
      vertical-align: middle;
      outline: none;
      background: #2e2e2e;
      text-indent: 10px;
      overflow: hidden;
      border-radius: 45px;
    }
    &__search_vektor {
      margin: 28px 9px 8px 28px;
      opacity: 0.3;
    }
    &__search_button {
      display: block;
      border-radius: 43px;
      width: 137px;
      height: 62px;
      border: none;
      background: #e3b748;
      margin: 6px 6px 0px 0px;
    }
    &__button-text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 162.52%;
      color: #000;
    }
    &__picture {
      position: absolute;
      margin: 83px 200px 0px 665px;
      width: 467.71px;
      max-height: 540px;
      background: #e3b748;
    }
    &__photo {
      width: 463.51px;
      height: 509.91px;
    }
  }
}
