.pictures {
  background: #2e2e2e;
  &__container {
  }

  &__content {
  }
  h1 {
    margin: 0px 0px 97px 0px;
  }
  &__content_text {
  }
  &__content_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
   
  }
 
  .pictures__content_grid-item1 {
    grid-area: 1 / 1 / 2 / 3;
  
  }
  .pictures__content_grid-item2 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .pictures__content_grid-item3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .pictures__content_grid-item4 {
    grid-area: 2 / 2 / 3 / 4;
  }
  .pictures__content_grid-item5 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .pictures__content_grid-item6 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .photos {
    border-radius: 20px;
  }
  h3 {
  }
}

//   .div1 { grid-area: 1 / 1 / 2 / 3; }
//   .div2 { grid-area: 1 / 3 / 2 / 4; }
//   .div3 { grid-area: 2 / 1 / 3 / 2; }
//   .div4 { grid-area: 2 / 2 / 3 / 4; }
//   .div5 { grid-area: 3 / 1 / 4 / 3; }
//   .div6 { grid-area: 3 / 3 / 4 / 4; }
