* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: rgb(29, 29, 29);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  // width: 100%;
  // display: block;
  // line-height: 0;
  // object-fit: cover;
}




// position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     object-fit: cover;