@import "./normalise";
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1165px;
  padding: 0 15px;
  margin: 0 auto;
}
$mainColor: #e3b748;
body {
  background: #1d1d1d;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 16;
}
ul li,
a {
  color: white;
}
ul {
  padding: 0;
}
h1 {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 143.02%;
}

@import "./components/header";
@import "./components/main";
@import "./components/info";
@import "./components/achivement";
@import "./components/pictures";
@import "./components/cards";
